/*************************  HTML element Styling *****************************/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}

div {
    position: relative;
}

h1 {
    margin: 0 auto;
    padding-top: 100px;
    font-size: 5.625rem;
    /* root em which is a multiple of 16px */
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    /* equivalent of 40 pixels  */
    color: #66bfbf;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    text-align: left;
    margin-bottom: 0;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
    }

hr {
    border: none;
    border-top: 10px dotted gray;
    margin: 100px auto;
    width: 20%;
}

p {
    line-height: 2;
}

/***********************************  Class Styling **************************/
.short-who {
    font-weight: normal;
    margin-bottom: 20px;
}

.top-container {
    background-color: #faebe0;
}

.middle-container {
    background-color: white;
    margin: 100px 0;
}

.bottom-container {
    padding: 50px 0 20px;
    background-color: #b5cda3;
}

.profile {
    padding-top: 100px;
    padding-bottom: 50px;
}

.intro {
    width: 50%;
    margin: auto;
}

.topCloud {
    margin-top: 50px;
    position: absolute;
    right: 200px;
}

.bottomCloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.edu-list {
    text-align: left;
    margin: 0;
}

.edu-img {
    height: auto;
    width: 20%;
    float: left;
    margin-right: 30px;
    margin-left: 256px;
}

.skill-row {
    text-align: left;
    margin: 100px auto;
    width: 50%;
}

.leader-img {
    height: auto;
    width: 33%;
    float: left;
    margin-right: 30px;
}

.pm-img {
    height: auto;
    width: 33%;
    float: right;
    margin-left: 30px;
    margin-top: 30px;
}

.consulting-img {
    height: auto;
    width: 33%;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
}

.speaking-img {
    height: auto;
    width: 33%;
    float: right;
    margin-left: 30px;
    margin-top: 30px;
}

.speaker {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: auto 2px;
    text-decoration: none;
}
.speaker:hover {
    color: skyblue;
}

.guitar-img {
    height: 210px;
    width: auto;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
}

.carnatic-img {
    height: auto;
    width: 33%;
    float: right;
    margin-left: 30px;
    margin-top: 30px;
}


.BUTTON_EID {
    background: #66bfbf;
    background-image: -webkit-linear-gradient(top, #66bfbf, #11999e);
    background-image: -moz-linear-gradient(top, #66bfbf, #11999e);
    background-image: -ms-linear-gradient(top, #66bfbf, #11999e);
    background-image: -o-linear-gradient(top, #66bfbf, #11999e);
    background-image: -webkit-gradient(to bottom, #66bfbf, #11999E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 100;
    padding: 10px;
    margin-top: 25px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_EID:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.contact-desc {
    width: 40%;
    margin: 40px auto 60px;
}

.footer-link {
    padding: 5px
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
